[submodule "nevresim"]
	path = nevresim
	url = https://github.com/dyigitpolat/nevresim.git
[submodule "kedi"]
	path = kedi
	url = https://github.com/kedi-lang/kedi.git
[submodule "lava"]
	path = lava
	url = https://github.com/lava-nc/lava
[submodule "spikingjelly"]
	path = spikingjelly
	url = https://github.com/fangwei123456/spikingjelly
